<div class="footer bg-dark">
  <p>Copyright © 2023 Lucas on Rails – Todos os direitos reservados.</p>
  
  <ul class="social-links">
    <!-- LinkedIn -->
    <%= link_to "https://www.linkedin.com/in/lucasonrails", target: "_blank", class:"icons" do %>
      <i class="fab fa-linkedin"></i>
    <% end %>

    <!-- Instagram -->
    <%= link_to "https://www.instagram.com/lucas23_ofc/", target: "_blank", class:"icons" do %>
      <i class="fab fa-instagram"></i>
    <% end %>

    <!-- GitHub -->
    <%= link_to "https://github.com/Lucas-SilvaGit", target: "_blank", class:"icons" do %>
      <i class="fab fa-github"></i>
    <% end %>
  </ul>
</div>
