.task-description {
  display: -webkit-box;
  -webkit-line-clamp: 5; /* Número de linhas permitidas antes de cortar o texto */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

#card{
  padding: 20px;
}