#card-modal{
  padding: 0 20px 0 20px;
}

.button-container .btn {
  width: 30%;
}

#delivery_date_field {
  width: 20%;
}

.body {
  background-color: GhostWhite;
}

.form-check .form-check-input {
  float: none !important;
}

@media (max-width: 540px) {
  .div-img {
    display: none;
  }

  #delivery_date_field {
    width: 100%;
  }

  .nav-pagination {
    position: static!important;
  }
}

.img-fluid {
  min-height: 100%;
}

.no-hover-bg:hover {
  background-color: transparent !important;
}